<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Year:</strong>
  <%= @product.year %>
</p>

<p>
  <strong>Storyline:</strong>
  <%= @product.storyline %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @product.genres %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @product.release_date %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @product.runtime %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
